.AppContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}


/* Track */
::-webkit-scrollbar-track {
	/*box-shadow: inset 0 0 5px grey; */
	/*border-radius: 10px;*/
	border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4095d5; 
}

#imgContainer {
  position: relative;
}

#imgLabel {
  position: absolute;
  font-family: "MyriadProSemiB";
  color: #686666;
  font-size: 25px;
  z-index: 2;
  bottom: 0px;
  left: 45%;
}