.CenterRegionContainer {
    position: absolute;
    width: 100px;
    height: auto;
    margin-left: calc(20% + 200px);
    width: 45%;
    padding: 15px 10px 15px 10px;
    display: flex;
    flex-direction: column;
}

.PresentationContainer {
    width: 100%;
    height: 180px;
    font-family: "KGNeatlyPrinted";
    font-size: 18px;
    padding: 3px 7px 3px 7px;
    border: solid #d9d9d9 1px;
    color: #8d969d;
    border-radius: 7px;
}

.AskQuestionContainer {
    width: 100%;
    height: 150px;
    border: solid #d9d9d9 1px;
    color: #8d969d;
    background-color: white;
    border-radius: 7px;
    padding: 3px 7px 3px 7px;
    margin-top: 15px;
}

.PhotoViewerContainer {
    width: calc(100% + 14px);
    height: 600px;
    margin-top: 15px;
    background-color: red;
}

.MatchInfosContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 3px 7px 3px 7px;
    border: solid #d9d9d9 1px;
    color: #8d969d;
    border-radius: 7px;
    margin-top: 15px;
    background-color: white;
}

.aMatchInfoLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
	font-family: 'MyriadProReg';
	font-size: 20px;
	color: #4095d5;
}