#formContainer {
	display: flex;
	justify-content: center;	
}

#contactForm {
	padding: 0px 25px 25px 25px;
	width: 50%;
	height: auto;
	border: solid black 1px;
	border-radius: 6px;
}

#contactFormId {
	padding-bottom: 40px;
	font-family: 'MyriadProSemiB';
	font-size: 27px;
	color: #5E5F5F;
}

#titleInput {
	width: 50%;
	padding: 10px 5px 10px 5px;
	border-radius: 4px;
	border-width: 1px;
	border-color: #F2F5F7;
}

#messageInput {
	width: 100%;
	height: 200px;
	padding: 10px 5px 10px 5px;
	border-width: 1px;
	border-radius: 4px;
	border-color: #F2F5F7;
}

#returnFormBtn {
	font-family: 'MyriadProReg';
	font-size: 15px;
	background: #4095d5;
	color: #fff;
	border-radius: 3px;
	border: 1px solid #4095d5;
	cursor: pointer;
}

#returnFormBtn:hover {
	background: #fff;
	color: #4095d5;
	border: 1px solid #4095d5;
}

#inputContactForm {
	font-family: 'MyriadProReg';
	font-size: 20px;
	background: #4095d5;
	color: #fff;
	border-radius: 3px;
	border: 1px solid #4095d5;
	cursor: pointer;
}

#inputContactForm:hover {
	background: #fff;
	color: #4095d5;
	border: 1px solid #4095d5;
}

#divContactForm {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

.contactFormSubTitle {
	padding-bottom: 20px;
	font-family: 'MyriadProSemiB';
	font-size: 20px;
	color: #5E5F5F;
}
