.DestChoiceContainer {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    font-family: "KGNeatlyPrinted";
    font-size: 25px;
    color: #949494;
    text-align: left;
    padding-top: 5%;
}
.ageChoiceContainer {
    width: calc(100%-10px);
    border: solid #b3b3b3 1px;
    border-radius: 5px;
    margin-top: 15px;
    justify-content: flex-start;
    padding-left: 10px;
}
.ageChoiceLine {
    flex-direction: line;
    color: #444444;
}

.DestImgContainerImg {
    width: 100%;
    z-index: 1;
    -webkit-filter: brightness(100%);
	filter: brightness(100%);
}

.DestImgContainer {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 30px;
}

.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-weight: bold;
    color: white;
    opacity: 0;
}

.centeredTextSelected {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-weight: bold;
    color: white;
}

.DestImgContainerImg:hover {
    -webkit-filter: brightness(30%);
	filter: brightness(30%);
}

.DestImgSelected {
    width: 100%;
    z-index: 1;
    -webkit-filter: brightness(30%);
	filter: brightness(30%);
}

.DestImgUnselected {
    -webkit-filter: brightness(100%);
	filter: brightness(100%);
}

.hereWeGoBtn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'MyriadProReg';
    font-size: 15px;
    background: #4095d5;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #4095d5;
    cursor: pointer;
    padding-top: 4px;
    width: 150px;
    align-self: center;
}

.hereWeGoBtn:hover {
    background: #fff;
    color: #4095d5;
}

.selectAge {
    font-family: "KGNeatlyPrinted";
    font-size: 18px;
    color: #555555;
    border: solid #444444 1px;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.customRadioBtn {
    display: flex;
    flex-direction: column;
}

.inLineFlex {
    flex-direction: line;
}

input[type=radio] {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 23px;
    padding-top: 4px;
}

label:before {
    content: "";
    display: inline-block;
   
    width: 16px;
    height: 16px;
   
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 4px;
    background-color: rgb(240, 240, 240);
    border: solid rgb(185, 185, 185) 1px;
}

.customRadioBtn label:before {
    border-radius: 8px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    background-color: #4095d5;
    transition: background-color 500ms linear;
}

input[type=radio]:hover + label:before {
    content: "\2022";
    background-color: #4095d5;
    transition: background-color 500ms linear;
}