nav {
	display: inline-block;
}

.HeadSectionContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: auto;
	width: 100%;
	background-color: #4095d5;
}

.HeadSectionContainer p {
	margin: 0;
	padding-left: 160px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	line-height: 30px;
	font-family: 'Roadway';
	font-weight: normal;
	font-size: 35px;
}

.formContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 20px;
}

.HeadSectionContainer form {
	display: flex;
	flex-wrap: nowrap;
}

.HeadSectionContainer select {
    vertical-align: middle;
    line-height: 40px;
	height: 25px;
	width: 35px;
	border-radius: 5px;
	background-color: #F2F5F7;
	color: #5E5F5F;
	border: none;
	margin-right: 35px;
}

.HeadSectionContainer option {
	border: none;
	border-radius: 5px;
}

.connectionInput {
	margin-right: 12px;
	width: 120px;
	font-family: 'MyriadProReg';
	padding: 3px;
	border: solid rgb(189, 189, 189) 1px;
	border-radius: 2px;
}

#buttonConnect {
	font-family: 'MyriadProReg';
	font-size: 15px;
	background: #F2F5F7;
	color: #5E5F5F;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	margin-right: 35px;
	padding-top: 6px;
	padding-bottom: 3px;
}

#buttonConnect:hover {
	background: rgb(189, 189, 189);
	color: #F2F5F7;
}

#FAQ {
	font-family: 'MyriadProSemiB';
	font-size: 15px;
	color: #4095d5;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #4095d5;
	padding: 5px 5px 3px 5px;
	cursor: pointer;
	margin-right: 120px;
}

#FAQ:hover {
	color: #fff;
	background: #4095d5;
	border: 1px solid white;
}

.selector {
	height: 20px;
	width: 34px;
	border: solid 1px;
	border-radius: 4px;
	position: relative;
	background: #F2F5F7;
	color: rgb(189, 189, 189);
	display: flex;
	margin-right: 25px
}
 
.selector:hover {
	background: rgb(189, 189, 189);
}
 
.flagPart {
	padding-left: 2px;
	width: 21px;
	border-style: solid;
	height: 100%;
	border-width: 0px 1px 0px 0px;
}
 
.flagPart img {
	width: 15px;
	height: 65%;
	padding: 3px 1px 3px 1px
}
 
.arrowPart {
	position: relative;
	width: 12px;
	height: 9px;
	height: 100%;
}
 
.aChoice {
	height: 50%
}
 
.aChoice:hover {
	background: rgb(189, 189, 189);
	color: #F2F5F7;
}

.dispRel {
	position: relative;
}

.imgHeaderLoggedContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 25px;
	padding-right: 15px;
}

.imgMessageHeaderLoggedContainer {
	height: 25px;
}

.smallProfileImg {
	border: solid white 3px;
	border-radius: 50%;
	width: 25px;
	height: 25px !important;
}

.imgHeaderLogged {
	height: inherit;
	margin-right: 15px;
}

.smallMessageCount {
	position: relative;
	bottom: -5px;
	left: 40px;
	font-family: 'MyriadProReg';
	font-size: 8px;
	color: white;
	bottom: 60%;
	left: 57%;
}
 
#choice {
	height: 40px;
	width: 30px;
	border: solid 1px;
	border-radius: 3px;
	background: #F2F5F7;
	color: rgb(189, 189, 189);
	position: absolute;
	display: block;
	z-index: 2;
	right: 0px;
	top: 20px;
}
 
#choice img {
	width: 15px;
	height: 12px;
	padding: 3px 1px 1px 6px
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
	background-color: #4095d5;
	top: 35px;
	right: 30px;
	width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border: solid white 4px;
	border-radius: 4px;
	z-index: 1;
	padding: 3px;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: white;
	font-family: 'MyriadProSemiB';
	font-size: 15px;
    padding: 3px;
    display: block;
	text-decoration: none;
}

.paddTop5 {
	padding-top: 15px !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: rgb(255, 255, 255);
	color: #4095d5;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}