#changeMPContainer {
	display: flex;
	justify-content: center;	
}

#changeMPForm {
	padding: 0px 25px 25px 25px;
	width: 50%;
	height: auto;
	border: solid black 1px;
	border-radius: 6px;
}

#changeMPTitle {
	padding-bottom: 5px;
	font-family: 'MyriadProSemiB';
	font-size: 22px;
	color: #5E5F5F;
	margin-bottom: 0px;
}

#changeMPText {
	padding-bottom: 15px;
	font-family: 'MyriadProreg';
	font-size: 14px;
	color: grey;
	margin-top: 0px;
}

#returnMPFormBtn {
	font-family: 'MyriadProReg';
	font-size: 15px;
	background: #4095d5;
	color: #fff;
	border-radius: 3px;
	border: 1px solid #4095d5;
	cursor: pointer;
	margin-top: 40px;
	padding: 2px 10px 2px 10px;
}

#returnMPFormBtn:hover {
	background: #fff;
	color: #4095d5;
	border: 1px solid #4095d5;
}

#inputChangeMPForm {
	font-family: 'MyriadProReg';
	font-size: 20px;
	background: #4095d5;
	color: #fff;
	border-radius: 3px;
	border: 1px solid #4095d5;
	cursor: pointer;
	margin-top: 40px;
	padding: 2px 10px 2px 10px;
}

#inputChangeMPForm:hover {
	background: #fff;
	color: #4095d5;
	border: 1px solid #4095d5;
}

#divContactForm {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

.changeMPFormSubTitle {
	padding-bottom: 20px;
	font-family: 'MyriadProSemiB';
	font-size: 17px;
	color: #5E5F5F;
	margin-bottom: 0px;
}

.inputChangeMp {
	width: 50%;
	padding: 10px 5px 10px 5px;
	border-radius: 4px;
	border-width: 1px;
	border-color: #F2F5F7;
	padding-bottom: 10px;
}
