.Subscribe {
	display: block;
	position: relative;
	width: 1000px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 105px;
	background-color: #F2F5F7;
	z-index: 2;
	border-radius: 6px;
}

.Subscribe button {
	position: absolute;
	top: 250px;
	left: 430px;
	padding: 2px;
	width: 150px;
	font-size: 20px;
	z-index: 4;
}

.Subscribe p {
	position: relative;
	top: 60px;
	text-align: center;
	color: #777B85;
	margin-top: 8px;
	margin-bottom: 8px;
}

.Subscribe img {
	position: relative;
	top: 50px;
	/*left: 275px;*/
	width: 450px;
	height: auto;
	z-index: 3;
}

#months {
	position: absolute;
	top: 100px;
	left: 415px;
	font-family: 'MyriadProReg';
	font-size: 55px;
	color: white;
	z-index: 3;
}

#price {
	position: absolute;
	top: 180px;
	left: 440px;
	font-family: 'MyriadProSemiB';
	font-size: 55px;
	color: #21445e;
	z-index: 3;
}

#labelSubscribe {
	position: relative;
	top: 25px;
	background-color: #21445e;
	margin-left: 110px;
	margin-right: 110px;
	padding: 10px 30px 10px 30px;
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
}

#warrantyGaoodi {
	position: absolute;
	top: 400px;
	left: 90px;
	background-color: #1b7192;
	padding: 10px;
	color: white;
	font-size: 17px;
	border-radius: 4px;
	width: 800px;
	height: 90px;
}

#warrantyGaoodi h1 {
	font-family: 'MyriadProSemiB';
	margin: 0px;
}