#TerminateContractContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

.TerminateContractSubContainer {
	padding: 40px 50px 50px 40px;
	height: auto;
	border: solid black 1px;
	border-radius: 6px;	
	justify-content: center;
}

.TerminateContractSubTitle {
	padding-bottom: 10px;
	font-family: 'MyriadProSemiB';
	font-size: 17px;
	color: #565355;
	justify-content: center;
}

#terminateMessageInput {
	width: 100%;
	height: 100px;
	padding: 10px 5px 10px 5px;
	border-width: 1px;
	border-radius: 4px;
	margin-bottom: 15px;
	border-color: #F2F5F7;
}

.TerminateContractBtn {
	font-family: 'MyriadProSemiB';
	font-size: 20px;
	background: #4095d5;
	color: #fff;
	border-radius: 3px;
	padding: 3px 10px 3px 10px;
	border: 1px solid #4095d5;
	cursor: pointer;
	justify-content: flex-end;
}

.TerminateContractBtn:hover {
	background: #fff;
	color: #4095d5;
	border: 1px solid #4095d5;
}

.TerminateContractBtnWrapper {
	padding-bottom: 20px;
	padding-right: 30%;
	display: flex;
	justify-content: space-between;
}

.TerminateContractUpContainer {
	padding-right: 20%;
	padding-bottom: 30px;
}

.TerminateContractBtnWrapper2 {
	display: flex;
	justify-content: flex-end;
}

.TerminateContractTitle {
	padding-bottom: 5px;
	font-family: 'MyriadProSemiB';
	font-size: 22px;
	color: #565355;
}

.TerminateContractText {
	padding-bottom: 30px;
	font-family: 'MyriadProReg';
	font-size: 15px;
	color: #b1b1b6;
}