.VerticalRegionContainer {
    position: absolute;
    width: 200px;
    height: auto;
    top: 120px;
    margin-left: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blueCircle {
    height: 85%;
    width: 85%;
    margin: 11px;
    border-radius: 50%;
    border: solid #4095d5 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImgProfileContainer {
    width: 100%;
    height: 200px;
    background-color: white;
}

.blueCircle label > img {
    max-width: 26px;
    height: 16px;
    padding-right: 5px;
}

.blueCircle > input {
    display: none;
}

.blueCircle label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #ebeff2;
    z-index: 9;
}

.blueCircle label:hover {
    border: solid #8d969d 1px;
}

.ImgProfile {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #8d969d;
    border-radius: 50%;
}

.vertTitle {
    font-family: "KGNeatlyPrinted";
    color: #8d969d;
    font-size: 40px;
}

.vertSubTitle {
    font-family: "KGNeatlyPrinted";
    color: #8d969d;
    font-size: 25px;
}

.vertInfo {
    font-family: "KGNeatlyPrinted";
    color: #8d969d;
    font-size: 22px;
}

.vertMessages {
    font-family: "KGNeatlyPrinted";
    font-size: 18px;
    padding: 3px;
    margin: 25px 7px 7px 7px;
    height: 150px;
    width: 180px;
    border: solid #d9d9d9 1px;
    color: #d9d9d9;
    border-radius: 7px;
	cursor: pointer;
    background-image: url("../img/120/icone_messanger_grey.png");
    background-size: 80% 60%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

.IsVerified {
    position: relative;
    height: 18%;
    top: -25px;
    left: 74%;
}

.vertFriends {
    font-family: "KGNeatlyPrinted";
    font-size: 18px;
    padding: 3px;
    margin: 7px;
    height: 150px;
    width: 180px;
    border: solid #d9d9d9 1px;
    color: #d9d9d9;
    border-radius: 7px;
    background-image: url("../img/120/icone_user_gris.png");
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: 50% 70%;
	cursor: pointer;
}

.vertLeisures {
    font-family: "KGNeatlyPrinted";
    font-size: 18px;
    padding: 3px;
    margin: 7px;
    height: 800px;
    width: 180px;
    border: solid #d9d9d9 1px;
    color: #d9d9d9;
    border-radius: 7px;
	cursor: pointer;
}

.countChipContainer {
    position: relative;
    left: 70%;
    top: 50%; 
    height: 22%;
    width: 16%;
    z-index: 12;
    background-color: rgba(243, 55, 55, 0.767);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
	font-family: 'MyriadProReg';
}